*{
    font-family: 'Work Sans', sans-serif;
}

body{
    background: #28aade;
    background: -webkit-linear-gradient(90deg, rgba(40, 170, 222, 1) 0%, rgba(140, 198, 219, 1) 50%, rgba(40, 170, 222, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(40, 170, 222, 1) 0%, rgba(140, 198, 219, 1) 50%, rgba(40, 170, 222, 1) 100%);
    background: linear-gradient(90deg, rgba(40, 170, 222, 1) 0%, rgba(140, 198, 219, 1) 50%, rgba(40, 170, 222, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#28AADE", endColorstr="#28AADE", GradientType=1);
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15.5vw;
}

.title{
    display: flex;
    align-items: center;
    gap: 12px;
}

nav ul{
    display: flex;
    gap: 5vw;
    list-style-type: none;
}

nav ul a{
    text-decoration: none;
    color: #000;
}

main{
    display: flex;
    flex-direction: column;
    gap: 75px;
    margin-top: 75px;
}

.hero-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #3399dd;
    width: 65vw;
    text-align: center;
    padding: 4.25% 5%;
    border-radius: 50%;
}

#hero h3:first-child{
    margin-bottom: 10px;
}

#hero form{
    display: flex;
    gap: 8px;
}

#hero form #email{
    background-color: #28aade;
    border: none;
    padding: 5px;
    font-size: 1em;
    border-radius: 10px;
    width: 20vw;
}

#hero form #email:focus{
    outline: none;
}

#hero form #submit{
    border: none;
    background-color: #228db8;
    font-size: 1em;
    padding: 5px 12px;
    border-radius: 10px;
    cursor: pointer;
}

#hero form #submit:hover{
    color: #228db8;
    background-color: black;
}

#hero form #submit:active{
    opacity: 0.8;
}

#Features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#Features .grid{
    background: #0978a3;
    padding: 2% 3.5%;
    border-radius: 12%;
}

#Features .grid .block{
    display: flex;
    gap: 30px;
    width: 82.5vw;
    align-items: center;
    justify-content: space-around;
}

.img-container img{
    width: 300px;
    height: 200px;
    border-radius: 12%;
}

#Video, #Spectifications{
    width: 100vw;
    margin-left: -8px;
}

#Video{
    background: #0978a3;
    padding-top: 2.5%;
    padding-bottom: 3%;
}

#Video .grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vid-container iframe{
    width: 750px;
    height: 425px;
    border-radius: 2%;
}

.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

#Pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 75px;
  gap: 12px;
}

#Pricing .product{
    background: #0978a3;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 25vw;
}

#Pricing .product .level{
    font-weight: bold;
} 

#Pricing .product .btn{
    background-color: #28aade;
    border: none;
    padding: 2%;
    border-radius: 30%;
    cursor: pointer;
}

#Pricing .product .btn:hover{
    color: #28aade;
    background-color: #000;
}

#Pricing .product .btn:active{
    opacity: 0.8;
}